<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Gbr.Dynamics.Online.Operations" version="1.0.0" targetFramework="net462" />
  <package id="Gbr.Dynamics.Online.Plugins" version="1.0.0" targetFramework="net462" />
  <package id="Gbr.Dynamics.Online.Utilities" version="1.0.0" targetFramework="net462" />
  <package id="ILMerge" version="2.13.0307" targetFramework="net462" />
  <package id="Microsoft.CrmSdk.CoreAssemblies" version="9.0.2.21" targetFramework="net462" />
  <package id="MSBuild.ILMerge.Task" version="1.0.5" targetFramework="net462" />
</packages>